*.swo
*.swp
*.swn
*.swm
*.csv#


*.pyc
__pycache__
*.pickle

nohup.*
log
outputs
tmp
nohup
db

export_api_keys.sh
merge_steps.sh
golden.jsonl
golden_full.jsonl
tests/.golden_full
geckodriver.log

*.aux
*.pdf
*.dvi
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.bbl

